html, body {
    height: 100%;
}

.hud {
    height: 100%;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.controls {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;

    width: 600px;
    height: 250px;

    cursor: default;

}

.wheel {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.wheel-left {
    margin-right: auto;
}
.wheel-right {
    margin-left: auto;
}

.wheel > .arrow-forward, .wheel > .arrow-reverse {
    background: green;
    padding: 30px;
    text-align: center;

    cursor: pointer;
}

.wheel > .arrow-active {
    background: orange;
}

.boost {
    background: #FFAAAA;
    padding: 10px;
}
.boost-active {
    background: #FF0000;
}

.visual {
    display: flex;
    align-items: center;
}

#front-camera {
    width: 640px;
    height: 480px;
    background: grey;
}

.front-camera-control > .arrow-up,
.front-camera-control > .arrow-down,
.front-camera-control > .light-toggle {
    background: green;
    padding: 8px;
    cursor: pointer;
    margin: 4px;
}

.front-camera-control > .active {
    background: orange;
}
